function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
not
if-goto L_0
push this 0
call Square.moveUp 1
pop temp 0
label L_0
push this 1
push constant 2
eq
not
if-goto L_2
push this 0
call Square.moveDown 1
pop temp 0
label L_2
push this 1
push constant 3
eq
not
if-goto L_4
push this 0
call Square.moveLeft 1
pop temp 0
label L_4
push this 1
push constant 4
eq
not
if-goto L_6
push this 0
call Square.moveRight 1
pop temp 0
label L_6
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label L_8
push local 1
not
not
if-goto L_9
label L_10
push local 0
push constant 0
eq
not
if-goto L_11
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto L_10
label L_11
push local 0
push constant 81
eq
not
if-goto L_12
push constant 1
neg
pop local 1
label L_12
push local 0
push constant 90
eq
not
if-goto L_14
push this 0
call Square.decSize 1
pop temp 0
label L_14
push local 0
push constant 88
eq
not
if-goto L_16
push this 0
call Square.incSize 1
pop temp 0
label L_16
push local 0
push constant 131
eq
not
if-goto L_18
push constant 1
pop this 1
label L_18
push local 0
push constant 133
eq
not
if-goto L_20
push constant 2
pop this 1
label L_20
push local 0
push constant 130
eq
not
if-goto L_22
push constant 3
pop this 1
label L_22
push local 0
push constant 132
eq
not
if-goto L_24
push constant 4
pop this 1
label L_24
label L_26
push local 0
push constant 0
eq
not
not
if-goto L_27
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto L_26
label L_27
goto L_8
label L_9
push constant 0
return
